body {
    background-color: #F8F9FD;
    color: gray;
    font-family: Arial, Helvetica, sans-serif; 
    overflow-y: hidden; 
          overflow-x: hidden;
}
 
.icon{
    margin-right: rem(4px);
    font-size: rem(30)
}

.text{
    font-size: rem(14px);   
}
a{
    color: #01367A;  
}
.row a{
    color: white;
}
a:hover{
    color: rgb(235, 228, 228);
}
.btn{
color: white;
background-color: #01367A;  
}
.card{
    box-shadow: 5px 10px 18px;
    border-color: none;
    padding-left: 50px;
    width: 100%;}
.card-columns{
    width: 1700px;
    margin-left:-300px;
   margin-top: 0px;
}
.btn-rounded{
    width: 135px;
    margin-left: 0px;   
}  
.groups p{
text-align: left;

}  
.my-button1 p{
text-align: left;
margin-top: 90px;
word-spacing:10px ;

}
.my-button1 .btn{
 margin-left: 58px; 
 width: 80px;
 
    
}
.my-button2 p{
    text-align: left;
    margin-top: 90px;
    word-spacing:10px ;
    }
    .my-button2 .btn{ 
    width: 80px;  
    }
ul.no-bullets {
    list-style-type: none;
    margin-top: 12px;
    padding: 0;
    float: left; 
  }
  .new-group .mb-3{
      margin-left: 120px;
      height: 40px;
      margin-top: 26px;   
  }
      
  ul.no-bullets li{
    min-height: 30px;
    margin: 8px 0;    
    word-spacing: 20px;
  }
  ul.no-bulletss li{
    min-height: 120px; 
    margin: 8px 0;    
    word-spacing: 20px;
    
  }
  ul.no-bulletss {
    list-style-type: none;
    margin-top: 16px;
    padding: 0;
    float: left; 
  }
  .submit{
      margin-left: 135px; 
  }
  .view-group{
      width: 27.5%;
     margin-left: 12%;
      }
.action{
    word-spacing: 19px;
    margin-left: 55px;
}
.no-bullets .view{
    word-spacing: 8px;
   margin-left: -46px;
    margin-top: 25px;
}
.btn1 .btn{
width: 80px;
margin-top: -70px;
margin-left: 220px;
}
.btn2 .btn{
    width: 90px;
    margin-top: -190px;  
    margin-left: 367px;
    }
.btn3 .btn{
        width: 80px;
        margin-top: -125px;  
        float: right;
        }
            @import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

:root {
    --header-height: 3rem;
    --nav-width: 68px;
    --first-color: #01367A;
    --first-color-light: #F7F6FB;
    --white-color: #F7F6FB;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100
}
*,
::before,
::after {
    box-sizing: border-box
}
a {
    text-decoration: none
}

.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: var(--white-color);
    z-index: var(--z-fixed);
    transition: .5s
}
.header_toggle {
    color: var(--first-color);
    font-size: 1.5rem;
    cursor: pointer
}
.l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--first-color);
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed)
}
.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden
}
.nav_logo,
.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem
}
.nav_logo {
    margin-bottom: 2rem
}

.nav_logo-icon {
    font-size: 1.25rem;
    color: var(--white-color)
}
.nav_logo-name {
    color: var(--white-color);
    font-weight: 700
}
.nav_link {
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 1.5rem;
    transition: .3s
}
.nav_link:hover {
    color: var(--white-color)
}

.nav_icon {
    font-size: 1.25rem
}

.show {
    left: 0
}


.active {
    color: var(--white-color)
}

.active::before {
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--white-color)
}

.height-100 {
    height: 100vh
}

 
    body {
        margin: calc(var(--header-height) + 0.5rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem)
    }

    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem)
    }

    .header_img {
        width: 40px;
        height: 40px
    }

    .header_img img {
        width: 45px
    }

    .l-navbar {
        left: 0;
        padding: 1rem 1rem 0 0
    }

    .show {
        width: calc(var(--nav-width) + 156px)
    }

    .body-pd {
        padding-left: calc(var(--nav-width) + 188px)
    }


.card {
    width: 100%;
    border-radius: 13px
   
    
}

.card1 {
    background-color: #5390b5;
    width: 100%
    
}

.innercard {
    width: 100%;
    background-color: #eef8fe;
    border-radius: 11px
   
}
.navbar-brand {
    font-weight: 700;
    font-size: 22px
}
.go {
    color: #119cff
}

.home {
    color: #119cff
}

.nav-item {
    font-weight: 500;
    color: #000000
}

.heading {
    font-weight: 700;
    font-size: 35px
}

.text {
    font-size: 32px;
    font-weight: 700;
    color: #0f1113b8
}
.text1 {
    color: #7f858a;
    font-size: 13px;
    font-weight: 500
}
.buttonitems {
    font-size: 12px;
    color: #179dfe;
    font-weight: 500
}

.card2 {
    background-color: #fff;
    border: none;
    border-radius: 8px;
    width: 100%
}

.stellar {
    font-size: 16px;
    font-weight: 600
}

.hosting {
    font-size: 12px;
    color: #bac3ce
}

.price {
    font-size: 25px;
    font-weight: 700
}

.small {
    font-size: 13px
}

.year {
    font-size: 13px;
    color: #119cff
}



.button {
    background-color: #01367A; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
   
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
    border-radius:5px;
    margin-left: 45px;
  }
  
  .button1 {padding: 4px 40px;}
  .button2 {padding: 4px 40px;}
  .button3 {padding: 4px 40px;}

.admin{
    text-align: center;
}
.add-admin{
    text-align: center;
}
 .row .label{
    padding-left: 20px;
} 
.col-lg-2{
    padding-top: 15px;
}
.label{
    padding-left: 20px;  
}
.neew{
    width: 1600px;
    margin-left: 600px;
}
.newg{
    
    width: 2500px;
    margin-left: 600px;  
  
}
.vieew{
    width: 2500px;
    margin-left: 600px;  
}
.addmin{
    width: 2500px;
    margin-left: 600px;  
}

.display-4{
    font-size: 40px;
}

/* .col-lg-2{
    padding-left: 50px;
} */


.container {
    margin-top: 20px
}

.btn-raised {
    transition: box-shadow .4s cubic-bezier(.25, .8, .25, 1), transform .4s cubic-bezier(.25, .8, .25, 1);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26)
}

.btn-raised:not([disabled]):active,
.btn-raised:not([disabled]):focus,
.btn-raised:not([disabled]):hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .4);
    transform: translate3d(0, -1px, 0)
}

.shadow {
    overflow: hidden;
    position: relative;
    transform: translate3d(0, 0, 0)
}

.shadow:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    pointer-events: none;
    background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform .5s, opacity 1.5s
}

.shadow:active:before {
    transform: scale(0, 0);
    opacity: .1;
    transition: 0s
}

.my-button,
.my-2 {
    margin-bottom: .5rem !important
}

.w-xs {
    width: 100px
}

.bg-white {
    background-color: #fff !important
}



.indigo {
    background-color: #3f51b5;
    color: #fff
}
.my-button3 {
    margin-top: -70px;
    margin-left: 220px;
}

.login,
.image {
    min-height: 100vh
}

.bg-image {
    background-image: url('../images/dove.png');
    background-size: cover;
    background-position: center center
}
.card2{
   max-height: 100%;
}
.row{
    max-height: 100%;
}
.label{
    max-height: 400px;
}
.buttonHolder{ 
    text-align: center;
    padding-bottom: 32px;
 }
 